@import "tailwindcss";
@theme {
  --color-pink: hsl(322, 100%, 66%);
  --color-palecyan: hsl(193, 100%, 96%);
  --color-darkcyan: hsl(192, 100%, 9%);
  --color-grayishblue: hsl(208, 11%, 55%);
  --font-family-poppins: Poppins, sans-serif;
  --font-family-opensans: "Open Sans", sans-serif;
}
